#node-select-library {
    overflow: hidden;
}
#node-select-library ul {
    list-style: none;
    padding: 0px;
    margin: 2px;
}
#node-select-library li {
    cursor: pointer;
}
#node-select-library li.list-selected {
    background: #eee;
}
#node-select-library li.list-hover {
    background: #ffffd0;
}
