.keyboard-dialog  {
    width: 700px;
}
.keyboard-dialog * td {
    padding: 0.8em 0.5em;
}
.keyboard-dialog * tr > td:first-child+td+td {
    padding-left: 5em;
}

.help-key {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 3px;
    background: #f6f6f6;
    font-family: Courier, monospace;
    box-shadow: #999 1px 1px 1px;
}
